gunicorn
gevent
flask
flask-sqlalchemy
flask-marshmallow
bcrypt-flask
flask-jwt-extended
sqlalchemy
psycogreen
psycopg2-binary
marshmallow-sqlalchemy
marshmallow
pandas
json-logging-py
google-cloud-secret-manager