body {
    background-color: #1e2130;
    font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(50, 50, 50);
    width: 100%;
    height: 100vh;
    max-width: 100% !important;
    overflow-x: hidden;
    margin: 0;
}

#app-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 2%;
}

.label {
    color: rgb(220, 220, 220);
    font-size: 1.0rem;
    font-weight: bolder;
    margin-top: 2.0rem;
}

#content {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

@media only screen and (max-width: 600px) {
    #content {
        flex-direction: column;
    }
}

/* Banner
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.banner {
    background-color: #1e2130;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 3px solid #4B5460;
    color: rgb(220, 220, 220);
}

.banner h5 {
    font-family: 'Open Sans Semi Bold', sans-serif;
    font-weight: bold;
    line-height: 1.2;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

.banner h6 {
    font-size: 1.6rem;
    font-weight: bolder;
    line-height: 1;
}

#banner-text {
    border-top: 5px;
    border-bottom: 5px;
}

.banner-item {
    margin: 5px;
}

#link-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#links {
    display: flex;
    padding-bottom: 5px;
}

.link-item {
    margin: 0 5px;
}

.link-item:link {
    background-color: #1e2130;
    text-decoration: none;
}

.link-item:visited {
    text-decoration: none;
}

.link-item:hover {
    text-decoration: underline;
}

.link-item:active {
    text-decoration: underline;
}


/* Modal dialogs
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.modal-dialog-content p {
    text-align: justify;
}

.modal-dialog-content h1 {
    font-size: 2.0rem;
    font-weight: bold;
}

.modal-dialog-content h2 {
    font-size: 1.5rem;
    font-weight: bolder;
}


/* Copyright notice
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#copyright-notice {
    display: flex;
    flex-direction: row-reverse;
    padding-right: 3.0rem;
}

/* Configuration
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#configuration {
    background: #161a28;
    padding: 0 1.0rem 1.0rem;
    border-right: 0.5rem solid #1e2130;
}

/* Diagram
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#diagram {
    flex: auto;
    border: 3px solid red;
}

#weather-data-graph {
    height: 70vh;
}

/* Inputs
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.input {
    color: rgb(220, 220, 220);
    font-size: 1.0rem;
    width: 80%;
    background-color: #282b38;
    border: 1px solid #a5b1cd;
    border-radius: 4px;
}

/* Tabs
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#configuration .station-info-tabs {
    border: 1px solid #a5b1cd;
    border-radius: 4px;
    background-color: #2f3445;
    color: black;
    padding: 10px;
}

#configuration .station-info-tab--selector {
    border-bottom: 1px solid #d6d6d6;
    padding: 6px;
    font-weight: bold;
    min-width: max-content;
}

#configuration .station-info-tab--selected {
    border-top: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;
    background-color: #ff4444;
    color: white;
    padding: 6px;
}

@media only screen and (max-width: 600px) {
    #configuration .station-info-tabs {
        display: none;
    }

    #configuration .named-tab .label {
        display: none;
    }
}

/* Date picker
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Will edit everything selected including everything between a range of dates */
#configuration .CalendarDay__selected_span {
    background-color: #ff4444;
    border: none;
    color: white;
}

/* Will edit selected date or the endpoints of a range of dates */
#configuration .CalendarDay__selected {
    background-color: #ff4444;
    border: none;
    color: white;
}

/* Will edit when hovered over. _span style also has this property */
#configuration .CalendarDay__selected:hover {
  background-color: orange;
  color: white;
}

/* Will edit when the second date (end date) in a range of dates
   is not yet selected. Edits the dates between your mouse and said date */
#configuration .CalendarDay__hovered_span, .CalendarDay__hovered_span {
  background-color: orange;
  color: white;
}


/* Dropdowns
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#configuration .Select--multi .Select-value {
    background-color: #ff4444;
    color: white;
}

#configuration .VirtualizedSelectFocusedOption {
    background-color: #ffeedd;
}

#configuration .Select-control {
    color: white;
}

#configuration .Select {
    color: white;
}

#configuration .Select-menu-outer {
    background-color: #2f3445;
    border: 1px solid gray;
}

#configuration .Select div {
    background-color: #2f3445;
}

#configuration .Select-menu-outer div:hover {
    background-color: rgba(255, 255, 255, 0.01);
}

#configuration .Select-value-label {
    color: white !important;
}

#configuration .Select--single > .Select-control .Select-value, .Select-placeholder {
    border: 1px solid gray;
    border-radius: 4px;
}

#configuration .card {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    width: 80%;
    padding: 2rem 0;
}

#configuration #last-card {
    border-bottom: none;
}

#configuration .graph-title {
    font-size: 2rem;
    margin: 15% 0 0 25%;
}

#configuration #button-zero-threshold {
    background-color: #2f3445;
    color: #a5b1cd;
    border-color: gray;
}

#configuration #button-zero-threshold:hover {
    border-color: white;
}

#configuration #button-card {
    display: flex;
    flex-direction: column;
}

#configuration #first-card {
    padding-top: 0;
}

@media (max-width: 1500px) {
    #configuration .rc-slider-mark-text {
        font-size: 0.7vw;
    }
}

@media (max-width: 950px) {
    #configuration .rc-slider-mark-text {
        font-size: 1.5vw;
    }
}


@media (max-width: 650px) {
    #configuration .rc-slider-mark-text {
        font-size: 2vw;
    }
}


@media (min-width: 1301px) {
    #configuration #left-column {
        flex: 1 20%;
        margin: 0 3rem 0 0;
        max-height: 83rem;
        overflow-x: hidden;
        overflow-y: auto;
    }

    #configuration .card {
        padding-left: 2rem;
    }
}

@media (max-width: 1300px) {
    #configuration #left-column {
        flex: 1 20%;
        margin: 0 3rem 0 0;
        max-height: 70rem;
        overflow-x: hidden;
        overflow-y: auto;
    }
}

@media (max-width: 1200px) {
    #configuration #button-zero-threshold {
        font-size: 0.8rem;
        padding: 0
    }
}

@media (max-width: 950px) {
    #configuration #button-zero-threshold {
        font-size: 1.0rem;
        padding: 0
    }
}

@media (max-width: 950px) {
    #configuration #left-column {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        max-height: none;
        max-width: none;
    }
}

@media (max-width: 700px) {
    #configuration #first-card {
        margin: 0;
        padding-right: 0;
        padding-left: 0;
    }
}


/* Remove Undo
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#graph-line-roc-curve .modebar, #graph-pie-confusion-matrix .modebar {
    display: none;
}