# remote-weather-access - Weather network server
# on Debian, put it under /etc/systemd/system/remote-weather-access.service
# start with: systemctl start remote-weather-access.service
# enable on boot: systemctl enable remote-weather-access.service 

[Unit]
Description=Weather Server daemon
After=multi-user.target

[Service]
Type=simple
User=weather-daemon
Restart=always
ExecStart=/usr/bin/weather-server /etc/remote-weather-access/config_ftp_weather_server.ini
ExecReload=/bin/kill -TERM $MAINPID

[Install]
WantedBy=multi-user.target
