<footer id="footer" class="page-footer small bg-light pt-2 pb-2 mt-auto">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-auto">
                <a class="text-reset text-decoration-none" href="{% url "weatherpage:impress" %}">Impressum</a>
            </div>
            <div class="col-auto">
                <a class="text-reset text-decoration-none" href="{% url "weatherpage:policy" %}">Datenschutz</a>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-auto">
                <p class="m-0 mt-1 p-0">© 2023 Ralf Rettig</p>
            </div>
        </div>
    </div>
</footer>