{% extends "weatherpage/base_generic.html" %}

{% block robots %}<meta name="robots" content="noindex">{% endblock %}

{% block header %}<title>Datenschutz</title>{% endblock %}

{% block content %}
    <div class="row justify-content-center m-2">
        <div class="col-lg-6">
            <h1>Datenschutz</h1>

            <p>Der Schutz Ihrer personenbezogenen Daten hat für uns höchste Priorität. Wir behandeln Ihre Daten gemäß
                den gesetzlichen Datenschutzvorschriften, insbesondere der Datenschutzgrundverordnung (DSGVO).</p>

            <p>Diese Datenschutzerklärung gibt Ihnen detaillierte Informationen zu unseren getroffenen Maßnahmen und
                Ihren Rechten.</p>

            <p>Wir erheben bei der Nutzung dieser Webseite so wenige Daten wie möglich, insbesondere benutzen wir keine
                Cookies.</p>

            <h1>Erhobene personenbezogene Daten</h1>
            <h2>Server-Log-Dateien</h2>

            <p>Der Verantwortliche der Seiten bzw. ein Beauftragter erheben und speichern automatisch Informationen in
                Server-Log-Dateien, die Ihr Browser automatisch an uns übermittelt. Es handelt sich dabei um folgende
                Daten:</p>

            <ul>
                <li>Browsertyp / Browserversion</li>
                <li>verwendetes Betriebssystem</li>
                <li>Referrer-URL (d.h. die vorherige Internetseite)</li>
                <li>IP-Adresse des zugreifenden Rechners</li>
                <li>Uhrzeit der Serveranfrage</li>
            </ul>

            <p>Diese Daten werden nach spätestens 30 Tagen gelöscht.</p>

            <p>Wir führen diese Daten nicht mit anderen Datenquellen zusammen. Sie werden erhoben, um die Sicherheit des
                Webservers zu garantieren (auf Grundlage des Artikels 6 Abs. 1f der DSGVO). Wir behalten uns eine
                Prüfung der Daten vor, wenn wir konkrete Hinweise auf eine rechtswidrige Nutzung haben.</p>

            <h2>Personenbezogene Informationen im Rahmen des Supports</h2>

            <p>Wenn Sie mit uns per E-Mail oder auf anderem Wege Kontakt aufnehmen, teilen Sie uns bestimmte
                personenbezogene Daten mit (z.B. Ihre E-Mail-Adresse, Anschrift, ...). Diese Daten werden auf
                elektronischen Systemen gespeichert und ausschließlich zur Bearbeitung Ihres Anliegens genutzt. Sie
                werden umgehend nach Abschluss des Falles vollständig gelöscht.</p>

            <p>Bitte bedenken Sie, dass wir Ihr Anliegen nur zweckmäßig bearbeiten können, wenn Sie uns die
                erforderlichen Informationen zur Verfügung stellen.</p>

            <p>Sie stimmen durch Übermittlung dieser Daten der Verarbeitung im Rahmen Ihres Anliegens zu. Wir
                verarbeiten daher Ihre Daten zu diesem Zweck auf Grundlage des Artikel 6 Abs. 1a der DSGVO. Sie können
                der weiteren Verarbeitung jederzeit widersprechen, jedoch bleibt dadurch die vorherige Verarbeitung
                bis zu diesem Zeitpunkt rechtmäßig.</p>

            <h1>Recht auf Auskunft, Berichtigung, Löschung, Einschränkung der Verarbeitung, Widerspruchsrecht</h1>

            <p>Sie haben jederzeit das Recht auf Auskunft über Ihre gespeicherten personenbezogenen Daten sowie ein
                Recht auf Berichtigung, Einschränkung der Verarbeitung, <strong>Widerspruch gegen die
                    Verarbeitung</strong> oder Löschung dieser Daten. Hierzu sowie zu weiteren Fragen zum Thema
                personenbezogene Daten können Sie sich jederzeit an uns wenden. Sie haben das Recht eine Beschwerde
                bei einer Aufsichtsbehörde für Datenschutz einzureichen.</p>

            <h1>Verantwortliche Stelle für den Datenschutz</h1>

            <address>
                ###### #######<br>
                ########## #### ##<br>
                ##### ##########<br>
                ########
            </address>

            <h1>Kontaktdaten</h1>

            <address>
                Telefon: #### / ## ## ##<br>
                E-Mail: datenschutz@######.##
            </address>

            <h1>Widerspruch zur Nutzung der veröffentlichten Kontaktdaten für Werbezwecke</h1>

            <p>Wir widersprechen der Nutzung von im Rahmen der gesetzlichen Vorschriften veröffentlichten Kontaktdaten
                zur
                Übersendung oder sonstigen Bereitstellung von nicht ausdrücklich angeforderten Werbe- und anderen
                Informationsmaterialien. Dies gilt ebenso für eine Kontaktaufnahme zu diesem Zweck. Wir behalten uns bei
                Zuwiderhandlung ausdrücklich die Einleitung rechtlicher Schritte vor.</p>
        </div>
    </div>
{% endblock %}